.skeleton {
  background: linear-gradient(
    90deg,
    var(--skeleton-start-color, #eee) 25%,
    var(--skeleton-middle-color, #f5f5f5) 37%,
    var(--skeleton-end-color, #eee) 63%
  );
  background-size: 400% 100%;
  animation: skeleton-loading 1.4s ease infinite;
  border-radius: 4px;
  will-change: background-position;

  &.circle {
    border-radius: 50%;
  }
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
