@font-face {
  font-family: "Ubuntu Mono";
  src: url("../public/assets/fonts/UbuntuMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu Mono";
  src: url("../public/assets/fonts/UbuntuMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu Mono";
  src: url("../public/assets/fonts/UbuntuMono-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Ubuntu Mono";
  src: url("../public/assets/fonts/UbuntuMono-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
