@use "@/styles/mixins/_main" as *;

.todos {
  width: 100%;

  &__list {
    @include flexbox;
    flex-direction: column;
    gap: 1.5rem;

    li {
      border-radius: 1px;
    }

    &--transitioning {
      opacity: 1;
      @include transform(translateX(0));
    }
  }
}
